.foot2{ 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    gap: 20px; 
     
 } 
  
 .sci{ 
    display: flex; 
    justify-content:space-between; 
    gap: 15px; 
    align-items: center; 
 } 
  
 .sci a{ 
    color: #fff; 
    font-size: 2em; 
    display: inline-block; 
    transition: 0.25s; 
 } 
  
 .sci li a:hover{ 
    transform: translateY(-5px); 
 }